<html>
    <!-- <link href="public/style.css" rel="stylesheet" type="text/css"> -->
    <title>Student</title>
    <body>
<table>
    <tr>
    <th>
        <%=firstName %>
    </th>
</tr>
<tr>

    <th>
        <%=lastName %>
    </th>
</tr>
<tr>

    <th>
        <%=id %>
    </th>
</tr>
</table>
</body>
</html>