<!DOCTYPE html>
<html>
    <body>
        <div class="card">
            <h1><%= students[i].name %></h1>
            <p class="title"><%= students[i].course %></p>
            <p><%= students[i].university %></p>
        </div>
    </body>
</html>