<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
    <header>
        <% include partials/header %>
    </header>
    <main>
        <table id=studentTable>
            <tr>
                <% for(var i = 0;i < (students.length/5)+1 ;i++){ %>
                   <tr>
                    <% for(var j = i*5;j < 5;j++) { %>
                        <% if(j < students.length) { %>
                        <th ><%- include("partials/student.ejs", 
                            {firstName: students[j].firstName,
                            lastName: students[j].lastName,
                                 id: students[j].id} ) %></th>
                        <% } %>
                   <% } %>
                    </tr>
                <% } %>
        </table>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
