<!DOCTYPE html>
<!-- views/index.ejs -->
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">
    <header>
        <% include partials/header %>
    </header>
    <main>
            <table class="table">
                <span class="table-span-style">
                    Students details
                </span>
                <tbody>
                    <% for(let i = 0; i < students.length; i++) { %>
                        <% if(i % 4 === 0) { %>
                            <tr>
                        <% } %>
                        <td>
                            <% include partials/student %>
                        </td>
                        <% if(i % 4 === 3) { %>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
